<%- include('./fragments/header.ejs') %>

    <body>
        <main class="content">
            <h2>Bład</h2>
            <img src="/imgs/lick.jpg" style="float: right;">
            <h3>
                <%= message %>
            </h3>
            <h4>
                <%= error.status %>
            </h4>
            <pre> <%= error.stack %></pre>
        </main>
        <%- include('./fragments/footer.ejs') %>